html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 2rem;
  min-height: 100%;
  font-family: 'Varela Round', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.display-block {
  display: block;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

button {
  font-family : inherit; /* Needed for buttons to use the specified font family */
  font-size: 1em;
}

.module-practice-answer-result {
  padding: 10px;
}

.module-practice-container {
  margin: auto;
  max-width: 600px;
}

h3, h4 { 
  color:#333333; 
  margin: 10px 0; 
  font-weight: bold;
}

blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.progressbar-container {
  font-size: small;
  font-weight: bold;
  padding: 0;
  margin-top: 10px;
  height: 15px;
  width:100%;
  background-color:#f1f1f1;
  clear:right;
}

.question-progressbar {
  background-color:rgb(99, 217, 104);
  height: 20px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#instance {
  text-align: center;
}

.text-area {
  padding:5px;
  min-height:65px;
  background-color:snow;
  margin: 10px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.text-area p {
  margin: 0;
}

.options-area p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options-area {
  justify-content: center;
  background-color:lightgray;
}

button:focus { outline:0; }

.word-button {
  color: #1C1C1C !important;
  font-size: 14px;
  padding: 5px 10px;
  margin: 8px 4px;
  border: 2px solid lightgray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none;
  background: white;
}

.answer-button {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
  border: 0px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none;
}

.answer-button-default {
  color:#1C1C1C;
  background: lightgray;
}

.answer-button-continue {
  color: white;
  background: #4CAF50;
}

footer {
  position:absolute;
  padding: 1rem;
  bottom:0;
  width:100%;
  height:60px;
  text-align: center;
}

/* Test Question Result */

.module-practice-answer-result {
  padding: 10px;
}

.module-practice-answer-check-area .answer-button-default {
  width: 100%;
}

.module-practice-answer-result button {
  width: 100%;
}

.result-info-container {
  /*position: relative;*/
}

.result-info {
/*  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  padding: 0 10px;
  */
}